:root {
  --actual-height: 100vh;
  --header-height: 3rem;
  --nes-pixel-size: 1px;
  --game-screen-height: 300px;
  --sprite-height: calc(var(--nes-pixel-size) * 28);

}

body {
  margin: 0;
  background-color: #222;
  color: #ccc;
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
}

* {
  image-rendering: pixelated;
}

header {
  width: 100vw;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000077;
  color: #aaa;
}

h1 {
  font-size: 1.25rem;
  font-weight: bold;
}

main {
  width: 100vw;
  height: var(--game-screen-height);
}

#intro-area {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}

body.hide-intro #intro-area {
  opacity: 0;
  pointer-events: none;
}
/* body.playing #intro-area {
  opacity: 0;
  pointer-events: none;
} */

#stat-display {
  position: absolute;
  top: calc(var(--game-screen-height) - (var(--nes-pixel-size) * 16));
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 0 calc(var(--nes-pixel-size) * 4);
}

#time-display {
  font-size: 1rem;
}

img.score-number {
  height: 100%;
}

#score-display {
  /* position: absolute; */
  /* top: calc(var(--header-height) + var(--game-screen-height) - calc(var(--nes-pixel-size) * 16)); */
  top: calc(var(--header-height) + var(--game-screen-height));
  right: 0;
  height: calc(var(--nes-pixel-size) * 12);
}

#game-message, #bonus-message, #bonus-message::after {
  position: absolute;
  top: calc(var(--nes-pixel-size) * 30);
  width: calc(var(--nes-pixel-size) * 78);
  height: calc(var(--nes-pixel-size) * 30);
  background-size: cover;
  transform-origin: center;
  left: 50vw;
  transform: translateX(-50%);
}

#bonus-message, #bonus-message::after {
  top: calc(var(--nes-pixel-size) * 8);
  width: calc(var(--nes-pixel-size) * 80);
  height: calc(var(--nes-pixel-size) * 20);
}

#bonus-message::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(var(--nes-pixel-size) * 30);
  height: calc(var(--nes-pixel-size) * 24);
  transform: translate(-50%, 100%);
}

#bonus-message.rank-1::after {
  background-image: url("../media/images/1000.png");
}

#bonus-message.rank-2::after {
  background-image: url("../media/images/3000.png");
}

#bonus-message.rank-3::after {
  background-image: url("../media/images/5000.png");
}

#bonus-message.no-bonus {
  top: calc(var(--nes-pixel-size) * 40);
}

#game-message.fire {
  color: rgb(188, 0, 0);
}

#game-message.foul {
  color: rgb(192, 192, 0);
}

#game-message.win {
  color: rgb(30, 152, 0);
}

#game-message.lose {
  color: rgb(114, 0, 123);
}

#start-button, #a-button {
  font-size: calc(var(--nes-pixel-size) * 16);
  font-weight: bold;
  padding: calc(var(--nes-pixel-size) * 9) calc(var(--nes-pixel-size) * 24);
  border-radius: calc(var(--nes-pixel-size) * 4);
  margin-top: calc(var(--nes-pixel-size) * 12);
  background-color: #00000055;
  color: #ffffff99;
}

#a-button {
  position: absolute;
  top: calc(var(--game-screen-height) + var(--header-height) + (var(--nes-pixel-size) * 24));
  width: calc(var(--nes-pixel-size) * 80);
  height: calc(var(--nes-pixel-size) * 80);
  padding: 0;
  font-size: calc(var(--nes-pixel-size) * 45);
  border-radius: 50%;
  margin: 0;
  background-color: rgb(202, 37, 37);
  color: #ffffffaa;
  align-self: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

#a-button.dimmed {
  background-color: rgb(179, 0, 0);
}

body.playing #a-button {
  opacity: 1;
  pointer-events: all;
}

#instructions-screen {
  width: 100%;
  height: var(--game-screen-height);
  background-image: url("../media/images/instructions.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


#battle-area {
  position: relative;
  display: flex;
  flex-direction: column;
  background: orange;
  height: var(--game-screen-height);
  background-image: url("../media/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  transition: background-position-x 1s ease-in-out, opacity 500ms ease-in-out;
}

#battle-area::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  transition: opacity 750ms ease;
  pointer-events: none;
}
#battle-area.dimmed::after {
  opacity: 1;
}

body.playing #battle-area {
  background-position-x: calc(var(--nes-pixel-size) * -205);
}

#level-legend {
  
}

#level-number {

}

.sprite {
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  width: var(--sprite-height);
  height: var(--sprite-height);
  transform-origin: center;
}

#kirby, #attacker {
  bottom: calc(var(--nes-pixel-size) * 40);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

#kirby {
  left: calc(var(--nes-pixel-size) * 65);
  background-image: url("../media/images/kirby.png");
}

#attacker {
  right: calc(var(--nes-pixel-size) * 28);
  background-image: url("../media/images/waddledee.png");
}

.gun {
  content: "";
  position: absolute;
  background: inherit;
  background-image: url("../media/images/waddledeegun.png");
  background-position: top right;
  top: calc(var(--nes-pixel-size) * -1);
  left:  calc(var(--nes-pixel-size) * -10.5);
  width: calc(var(--nes-pixel-size) * 12);
  height: calc(var(--nes-pixel-size) * 24);
  display: none;
}

#kirby > .gun {
  background-image: url("../media/images/kirbygun.png");
  top: calc(var(--nes-pixel-size) * -1);
  left: unset;
  right: calc(var(--nes-pixel-size) * -12);
  width: calc(var(--nes-pixel-size) * 24);
  background-position: top right;
}

.gun.drawn, #kirby.drawing > .gun {
  display: block;
}

#kirby > .gun.spinning {
  display: block;
  top: unset;
  bottom: calc(var(--nes-pixel-size) * 8);
  left: calc(var(--nes-pixel-size) * 26);
  transform-origin: bottom left;
  background-size: 100%;
  animation: spin forwards 1500ms linear;;
}

#kirby.holstering, #kirby.holstering + .hat {
  animation: holster forwards 300ms ease;
}

.sprite.defeated {
  animation-name: attacker-die;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#kirby.defeated {
  animation-name: kirby-die;
  animation-duration: 600ms;
  animation-timing-function: linear;
}

.hat {
  content: "";
  position: absolute;
  width: calc(var(--nes-pixel-size) * 24);
  height: calc(var(--nes-pixel-size) * 12);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform-origin: center;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.hat.defeated {
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.445, 0.55, 0.75, 0.95);
}

#attacker + .hat {
  background-image: url("../media/images/waddledeehat.png");
  top: calc(var(--nes-pixel-size) * 81);
  right: calc(var(--nes-pixel-size) * 28);
}

#kirby + .hat {
  background-image: url("../media/images/kirbyhat.png");
  background-position: top left;
  bottom: calc(var(--nes-pixel-size) * 46);
  left: calc(var(--nes-pixel-size) * 65);
  width: calc(var(--nes-pixel-size) * 24);
  height: calc(var(--nes-pixel-size) * 24);
}

#attacker.defeated + .hat {
  animation-name: hat-flip;
}

#kirby.defeated + .hat {
  animation-name: kirby-hat-flip;
}

#kirby.visible, #attacker.visible {
  opacity: 1;
}

#control-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(var(--actual-height) - var(--header-height) - var(--game-screen-height));
  gap: calc(var(--nes-pixel-size) * 20);
}

.hidden {
  display: none !important;
}

@keyframes pan-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes pan-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes attacker-die {
  0% {
    transform: none;
    translate: none;
    margin-bottom: 0%

  }
  25% {
    transform: rotate(15deg);
    translate: 25%;
    margin-bottom: 8%
  }
  50% {
    transform: rotate(30deg);
    translate: 50%;
    margin-bottom: 16%
  }
  75% {
    transform: rotate(45deg);
    translate: 75%;
    margin-bottom: 8%
  }
  100% {
    transform: rotate(90deg);
    translate: 100%;
    margin-bottom: 0%
  }
}

@keyframes kirby-die {
  0% {
    transform: none;
    translate: none;
    margin-bottom: 0%

  }
  25% {
    transform: rotate(-20deg);
    translate: -25%;
    margin-bottom: 10%
  }
  50% {
    transform: rotate(-180deg);
    translate: -50%;
    margin-bottom: 12%
  }
  75% {
    transform: rotate(-360deg);
    translate: -75%;
    margin-bottom: 8%
  }
  100% {
    transform: rotate(-540deg);
    translate: -100%;
    margin-bottom: 0%
  }
}

@keyframes hat-flip {
  0% {
    transform: none;
    translate: none;
  }
  50% {
    transform: rotate(720deg);
    translate: 0 -500%;
  }
  100% {
    transform: rotate(1440deg);
    translate: 0 150%;
  }
}

@keyframes kirby-hat-flip {
  0% {
    transform: none;
    translate: none;
  }
  50% {
    transform: rotate(540deg);
    translate: 0 -250%;
  }
  100% {
    transform: rotate(1080deg);
    translate: 0 75%;
  }
}

@keyframes spin {
  0% {
    transform: none;
  }
  50% {
    transform: rotate(-1080deg);
  }
  100% {
    transform: rotate(-2280deg);
  }
}

@keyframes holster {
  0% {
    transform: none;
  }
  50% {
    translate: 0 calc(var(--nes-pixel-size) * 2);
  }
  100% {
    transform: none;
  }
}