:root {
  --actual-height: 100vh;
  --header-height: 3rem;
  --nes-pixel-size: 1px;
  --game-screen-height: 300px;
  --sprite-height: calc(var(--nes-pixel-size) * 28);

}

body {
  margin: 0;
  background-color: #222;
  color: #ccc;
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
}

* {
  image-rendering: pixelated;
}

header {
  width: 100vw;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000077;
  color: #aaa;
}

h1 {
  font-size: 1.25rem;
  font-weight: bold;
}

main {
  width: 100vw;
  height: var(--game-screen-height);
}

#intro-area {
  position: absolute;
  width: 100%;
  top: var(--header-height); 
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}

body.playing #intro-area {
  opacity: 0;
  pointer-events: none;
}

#time-display {
  top: calc(var(--game-screen-height) + (var(--nes-pixel-size) * 24));
  font-size: calc(var(--nes-pixel-size) * 12);
  min-height: calc(var(--nes-pixel-size) * 28);
}

#game-message, #bonus-message, #bonus-message::after {
  position: absolute;
  top: calc(var(--nes-pixel-size) * 30);
  width: calc(var(--nes-pixel-size) * 78);
  height: calc(var(--nes-pixel-size) * 30);
  background-size: cover;
  transform-origin: center;
  left: 50vw;
  transform: translateX(-50%);
}

#bonus-message, #bonus-message::after {
  top: calc(var(--nes-pixel-size) * 40);
  width: calc(var(--nes-pixel-size) * 80);
  height: calc(var(--nes-pixel-size) * 20);
}

#bonus-message::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(var(--nes-pixel-size) * 30);
  height: calc(var(--nes-pixel-size) * 24);
  transform: translate(-50%, 100%);
}

#bonus-scrore {
  background-image: url("../media/images/1000.png");
}

#bonus-message.rank-1::after {
  background-image: url("../media/images/3000.png");
}

#bonus-message.rank-2::after {
  background-image: url("../media/images/5000.png");
}

#bonus-message.rank-3::after {
  content: '5000';
}

#bonus-message.no-bonus {
  top: calc(var(--nes-pixel-size) * 40);
}

#game-message.fire {
  color: rgb(188, 0, 0);
}

#game-message.foul {
  color: rgb(192, 192, 0);
}

#game-message.win {
  color: rgb(30, 152, 0);
}

#game-message.lose {
  color: rgb(114, 0, 123);
}

#start-button, #a-button {
  font-size: calc(var(--nes-pixel-size) * 16);
  font-weight: bold;
  padding: calc(var(--nes-pixel-size) * 9) calc(var(--nes-pixel-size) * 24);
  border-radius: calc(var(--nes-pixel-size) * 4);
  margin-top: calc(var(--nes-pixel-size) * 12);
  background-color: #00000055;
  color: #ffffff99;
}
#a-button {
  top: calc(var(--game-screen-height) + (var(--nes-pixel-size) * 32));
  width: calc(var(--nes-pixel-size) * 80);
  height: calc(var(--nes-pixel-size) * 80);
  padding: 0;
  font-size: calc(var(--nes-pixel-size) * 45);
  border-radius: 50%;
  margin: 0;
  background-color: rgb(202, 37, 37);
  color: #ffffffaa;
  align-self: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

#a-button.dimmed {
  background-color: rgb(179, 0, 0);
}

body.playing #a-button {
  opacity: 1;
  pointer-events: all;
}

#instructions-screen {
  width: 100%;
  height: var(--game-screen-height);
  background-image: url("../media/images/instructions.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


#battle-area {
  position: relative;
  display: flex;
  flex-direction: column;
  background: orange;
  height: var(--game-screen-height);
  background-image: url("../media/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  transition: background-position-x 1s ease-in-out, opacity 500ms ease-in-out;
}

#battle-area.dimmed {

}
body.playing #battle-area {
  background-position-x: calc(var(--nes-pixel-size) * -190);
}

.sprite {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: var(--sprite-height);
  height: var(--sprite-height);
}

#kirby, #attacker {
  top: calc(var(--nes-pixel-size) * 75);
  opacity: 0;
  transition: opacity 300ms ease-in-out, transform 200ms ease;
}

#kirby {
  left: calc(var(--nes-pixel-size) * 65);
  background-image: url("../media/images/kirbywaiting.png");
}

#attacker {
  right: calc(var(--nes-pixel-size) * 28);
  background-image: url("../media/images/waddledeewaiting.png");
}

#kirby.defeated {
  transform: rotate(-90deg);
}
#attacker.defeated {
  transform: rotate(90deg);
}

#kirby.visible, #attacker.visible {
  opacity: 1;
}

#control-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(var(--actual-height) - var(--header-height) - var(--game-screen-height));
  gap: calc(var(--nes-pixel-size) * 20);
}

.hidden {
  display: none !important;
}

@keyframes pan-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}