:root {
  --pixels-per-width: 170;
  --pixels-per-height: 150;
  --actual-height: 100vh;
  --header-height: 3rem;
  --sprite-scale: 3;
  --base-sprite-size: 16;
  --nes-pixel-size: 1px;
  --scaled-pixel-size: calc(100vw / var(--pixels-per-width));
  --sprite-height: calc(1px * var(--base-sprite-size));
  --game-screen-height: calc(var(--scaled-pixel-size) * var(--pixels-per-height));

}

body {
  margin: 0;
  background-color: #222;
  color: #ccc;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 500ms ease;
  
}

* {
  image-rendering: pixelated;
}

header {
  font-family: Verdana, Tahoma, sans-serif;
  width: 100vw;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000077;
  color: #aaa;
}

h1 {
  font-size: 1.25rem;
  font-weight: bold;
}

main {
  width: 100vw;
  height: var(--game-screen-height);
}

#intro-area {
  position: absolute;
  top: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}

body.hide-intro #intro-area {
  pointer-events: none;
  opacity: 0;
}

body.hide-intro #battle-area {
  display: flex;
}

#stat-display {
  position: absolute;
  top: calc(var(--game-screen-height) - (var(--scaled-pixel-size) * 16));
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 0 calc(var(--scaled-pixel-size) * 4);
}

#time-display {
  font-size: 1rem;
  color: red;
}

#score-display {
  height: calc(var(--scaled-pixel-size) * 16);
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: flex-end;
  
}

.score-number {
  height: 100%;
  width: calc(var(--scaled-pixel-size) * 8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

#game-message, #bonus-message, #bonus-message::after, #level-message {
  position: absolute;
  top: calc(var(--nes-pixel-size) * 30);
  width: calc(var(--nes-pixel-size) * 78);
  height: calc(var(--nes-pixel-size) * 30);
  background-size: cover;
  transform-origin: center;
  left: 50vw;
  transform: translateX(-50%);
  opacity: 0;
}

#level-message {
  height: calc(var(--nes-pixel-size) * 24);
  top: 50%;
  translate: 0 -50%;
  width: unset;
  display: flex;
  z-index: 1;
  transition: opacity 750ms ease;
}

#level-message > img {
  width: calc(var(--nes-pixel-size) * 60);
  height: calc(var(--nes-pixel-size) * 24);
}

#level-message > .level-digit {
  background-image: url("../media/images/levelnumbers.png");
  width: calc(var(--nes-pixel-size) * 12);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: calc(var(--nes-pixel-size) * 6);
}

#bonus-message, #bonus-message::after {
  top: calc(var(--nes-pixel-size) * 8);
  width: calc(var(--nes-pixel-size) * 80);
  height: calc(var(--nes-pixel-size) * 20);
}

#bonus-message::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(var(--nes-pixel-size) * 30);
  height: calc(var(--nes-pixel-size) * 24);
  transform: translate(-50%, 100%);
  opacity: inherit;
}

#bonus-message.rank-1::after {
  background-image: url("../media/images/1000.png");
}

#bonus-message.rank-2::after {
  background-image: url("../media/images/3000.png");
}

#bonus-message.rank-3::after {
  background-image: url("../media/images/5000.png");
}

#bonus-message.no-bonus {
  top: calc(var(--nes-pixel-size) * 40);
}

#game-message.fire {
  color: rgb(188, 0, 0);
}

#game-message.foul {
  color: rgb(192, 192, 0);
}

#game-message.win {
  color: rgb(30, 152, 0);
}

#game-message.lose {
  color: rgb(114, 0, 123);
}

#start-button, #a-button {
  font-size: calc(var(--nes-pixel-size) * 16);
  font-weight: bold;
  padding: calc(var(--nes-pixel-size) * 9) calc(var(--nes-pixel-size) * 24);
  border-radius: calc(var(--nes-pixel-size) * 4);
  margin-top: calc(var(--nes-pixel-size) * 12);
  background-color: #00000055;
  color: #ffffff99;
}

#a-button {
  position: absolute;
  top: calc(var(--game-screen-height) + var(--header-height) + (var(--nes-pixel-size) * 24));
  width: calc(var(--nes-pixel-size) * 80);
  height: calc(var(--nes-pixel-size) * 80);
  padding: 0;
  font-size: calc(var(--nes-pixel-size) * 45);
  border-radius: 50%;
  margin: 0;
  background-color: rgb(202, 37, 37);
  color: #ffffffaa;
  align-self: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

#a-button.dimmed {
  background-color: rgb(179, 0, 0);
}

body.playing #a-button {
  opacity: 1;
  pointer-events: all;
}

#a-button.visible {
  opacity: 1;
  pointer-events: all;
}

#instructions-screen {
  width: 100%;
  height: var(--game-screen-height);
  background-image: url("../media/images/instructions.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


#battle-area {
  position: relative;
  display: flex;
  flex-direction: column;
  background: orange;
  height: var(--game-screen-height);
  background-image: url("../media/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  transition: background-position-x 1s ease-in-out, opacity 500ms ease-in-out;
}

#battle-area::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  transition: opacity 750ms ease;
  pointer-events: none;
}

#battle-area.dimmed::after {
  opacity: 1;
}

body.playing #battle-area {
  background-position-x: calc(var(--scaled-pixel-size) * -220);
}

.sprite {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: var(--sprite-height);
  height: var(--sprite-height);
  scale: var(--sprite-scale);
}

#kirby, #attacker {
  bottom: calc(var(--scaled-pixel-size) * 46);
  opacity: 0;
  /* transition: opacity 300ms ease-in-out; */
}

#kirby {
  left: calc(var(--scaled-pixel-size) * 64);
  background-image: url("../media/images/kirby.png");
}

#kirby.drawing {
  background-position-x: calc(var(--nes-pixel-size) * -18);
}

#attacker {
  /* right: calc(var(--scaled-pixel-size) * 26); */
  left: calc(var(--scaled-pixel-size) * 136);
  background-image: url("../media/images/waddledee.png");
}

.gun {
  content: "";
  position: absolute;
  background: inherit;
  background-size: cover;
  width: inherit;
  height: inherit;
  display: none;
}

#kirby > .gun, #attacker > .gun {
  top: calc(var(--nes-pixel-size) * -1);
}

#kirby > .gun {
  background-image: url("../media/images/kirby.png");
  background-position: calc(var(--nes-pixel-size) * -162);
  right: calc(var(--nes-pixel-size) * -8);
}

#attacker > .gun {
  background-image: url("../media/images/waddledee.png");
  background-position: 100%;
  right: calc(var(--nes-pixel-size) * 8);
}

.sprite.drawing > .gun {
  display: block;
}

#kirby.drawing + .hat {
  background-position-x: calc(var(--nes-pixel-size) * -144);
  background-position-y: calc(var(--nes-pixel-size) * -2);
  bottom: calc(var(--scaled-pixel-size) * 48);
}

#attacker.drawing {
  background-position-x: calc(var(--nes-pixel-size) * -18);
}

#attacker.drawing + .hat {
  left: calc(var(--scaled-pixel-size) * 136);
  bottom: calc(var(--scaled-pixel-size) * 47);
}

#kirby.spinning > .gun {
  display: block;
  background-position: calc(var(--scaled-pixel-size) * -180);
  top: unset;
  bottom: calc(var(--nes-pixel-size) * 8);
  left: calc(var(--nes-pixel-size) * 16);
  transform-origin: bottom left;
  animation: spin forwards 1500ms linear;
}

#kirby.spinning.tossing {
  animation: spin forwards 1500ms linear, hat-flip forwards 100ms linear;
}

#kirby.holstering, #kirby.holstering + .hat {
  animation: holster forwards 300ms ease;
}

#kirby.defeated, #attacker.defeated {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#attacker.defeated {
  background-position-x: calc(var(--nes-pixel-size) * -36) !important;
  animation-name: attacker-die;
  animation-duration: 600ms;
}

#kirby.defeated {
  animation-name: kirby-die;
  animation-duration: 600ms;
}

.hat {
  opacity: 0;
  /* transition: opacity 300ms ease-in-out; */
  transform-origin: center calc(var(--nes-pixel-size) * 12);
  background-position-y: calc(var(--nes-pixel-size) * -3);
  bottom: calc(var(--scaled-pixel-size) * 48);
}

#kirby.defeated + .hat, #attacker.defeated + .hat {
  animation-duration: 800ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.445, 0.55, 0.75, 0.95);
}

#kirby + .hat {
  background-image: url("../media/images/kirby.png");
  background-position-x: calc(var(--nes-pixel-size) * -126);
  left: calc(var(--scaled-pixel-size) * 64);
}

#attacker + .hat {
  background-image: url("../media/images/waddledee.png");
  background-position-x: calc(var(--nes-pixel-size) * -54);
  background-position-y: calc(var(--nes-pixel-size) * -4);
  left: calc(var(--scaled-pixel-size) * 136);
  bottom: calc(var(--scaled-pixel-size) * 47);

  /* width: calc(var(--sprite-height)); */
  /* opacity: 0 !important; */
}

#attacker.defeated + .hat {
  transform-origin: center;
  animation-name: hat-flip;
}

#kirby.defeated + .hat {
  animation-name: kirby-hat-flip;
}

#kirby.visible, #attacker.visible, #kirby.visible + .hat, #attacker.visible + .hat {
  opacity: 1;
}

#control-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(var(--actual-height) - var(--header-height) - var(--game-screen-height));
  gap: calc(var(--nes-pixel-size) * 20);
}

.hidden {
  display: none !important;
}

@keyframes pan-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes pan-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes attacker-die {
  0% {
    transform: none;
    translate: none;
    margin-bottom: 0%

  }
  25% {
    transform: rotate(45deg);
    translate: calc(var(--scaled-pixel-size) * 6);
    margin-bottom: 8%
  }
  50% {
    transform: rotate(90deg);
    translate: calc(var(--scaled-pixel-size) * 12);
    margin-bottom: 16%
  }
  75% {
    transform: rotate(135deg);
    translate: calc(var(--scaled-pixel-size) * 18);
    margin-bottom: 8%
  }
  100% {
    transform: rotate(260deg);
    translate: calc(var(--scaled-pixel-size) * 24);
    margin-bottom: 0%
  }
}

@keyframes kirby-die {
  0% {
    transform: none;
    translate: none;
    margin-bottom: 0%

  }
  25% {
    transform: rotate(-20deg);
    translate: calc(var(--scaled-pixel-size) * -8);
    margin-bottom: 10%
  }
  50% {
    transform: rotate(-60deg);
    translate: calc(var(--scaled-pixel-size) * -16);
    margin-bottom: 12%
  }
  75% {
    transform: rotate(-100deg);
    translate: calc(var(--scaled-pixel-size) * -24);
    margin-bottom: 8%
  }
  100% {
    transform: rotate(-180deg);
    translate: calc(var(--scaled-pixel-size) * -32);
    margin-bottom: 0%
  }
}

@keyframes hat-flip {
  0% {
    transform: none;
    translate: none;
  }
  50% {
    transform: rotate(720deg);
    translate: 0 calc(var(--scaled-pixel-size) * -96);
  }
  100% {
    transform: rotate(1440deg);
    translate: 0 calc(var(--scaled-pixel-size) * 12);
  }
}

@keyframes kirby-hat-flip {
  0% {
    transform: none;
    translate: none;
  }
  50% {
    transform: rotate(540deg);
    translate: 0 calc(var(--scaled-pixel-size) * -86);
  }
  100% {
    transform: rotate(1080deg);
    translate: 0 calc(var(--scaled-pixel-size) * 16);
  }
}

@keyframes spin {
  0% {
    transform: none;
  }
  50% {
    transform: rotate(-1080deg);
  }
  100% {
    transform: rotate(-2280deg);
  }
}

@keyframes holster {
  0% {
    transform: none;
  }
  50% {
    translate: 0 calc(var(--nes-pixel-size) * 2);
  }
  100% {
    transform: none;
  }
}